./dataset/raw/**.asc

dataset/raw/dataset/raw/Sub4.asc
dataset/raw/Sub8.asc
dataset/raw/Sub2_Lew.asc
dataset/raw/Sub7.asc
dataset/raw/Sub11.asc
dataset/raw/Sub5.asc
dataset/raw/Sub9.asc
dataset/raw/Sub6.asc
dataset/raw/Sub3_Shen.asc
dataset/raw/Sub10.asc
dataset/raw/Sub1_Koh.asc
